logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*.swp
.DS_Store
lecarton-1.0-SNAPSHOT/
.data/
nohup.out
app.pid
projectFilesBackup/
.cache
.sbtserver/
