@(pasteCount: Long, profileCount: Long)(implicit session: play.api.mvc.Session)
@header("profile: " )
	<body>
        <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/main.css")'>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.3/css/jquery.dataTables.css">
        <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/searchResults.css")'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.3/js/jquery.dataTables.min.js"></script>
        <script src='@routes.Assets.at("javascripts/search_results.js")'></script>
        @titlebar()(session)
		<div id="mainContainer">
		    <h2>Paste Count: @pasteCount</h2>
            <h2>Profile Count: @profileCount</h2>
		</div>
	</body>
</html>
