@(message: String)(implicit session: play.api.mvc.Session)

@import helper._

@header("created: " + message)
	<body>
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        @titlebar()(session)
        <div class="container">
        	<div class="row">
        		<div class="col-md-12 col-sm-12 col-xs-12"><h1>@message</h1></div>
				<div class="col-md-12 col-sm-12 col-xs-12" id="newPaste">
					<form method="post" autocomplete="on">
						<input id="titlebox" type="text" name="title"><br>
						<textarea id="contentbox" name="content" rows="4" cols="50"></textarea>
						<input id="submitbutton" type="submit" value="Paste">
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
