@(message: String)(implicit session: play.api.mvc.Session)

@import helper._

@header("created: " + message)
	<body>
		<link rel="stylesheet" href='@routes.Assets.at("stylesheets/main.css")'>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href='@routes.Assets.at("lib/bootstrap-switch.min.css")'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src='@routes.Assets.at("lib/bootstrap-switch.min.js")'></script>
        @titlebar()(session)
        <div class="container">
        	<div class="row">
        		<div class="col-md-12 col-sm-12 col-xs-12"><h1>Create A New Paste</h1></div>
                @if(!message.isEmpty) {
        		    <div class="col-md-12 col-sm-12 col-xs-12"><h3>Created: <a href="/p/@message">@message</a></h3></div>
                }
				<div class="col-md-12 col-sm-12 col-xs-12" id="newPaste">
					<form class="disableOnSubmit" method="post" autocomplete="on">
						<input id="titlebox" type="text" name="title"><br>
						<textarea id="contentbox" name="content" rows="4" cols="50"></textarea>
						<input id="submitbutton" type="submit" value="Paste">
                        <div class="make-switch">
                            <input type="checkbox" checked data-on-text="public" data-off-text="private" name="isPublic" value="true">
                        </div>
					</form>
				</div>
			</div>
		</div>
        <script src='@routes.Assets.at("javascripts/create_page.js")'></script>
	</body>
</html>
