@(errorMessage: String)(implicit session: play.api.mvc.Session)

@import helper._

@header("Pastes: Login")
	<body>
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        @titlebar()(session)
        <div class="container">
            <div id="loginForm">
                <form method="post" autocomplete="on" action="/login">
                    <table>
                        <th colspan="2"><h1>Login</h1></th>
                        <tr>
                            <td class="errorMessage">@if(errorMessage == null) { &nbsp } else { @errorMessage }</td>
                        </tr>
                        <tr>
                            <td class="loginFormLabel">
                                username
                            </td>
                            <td>
                                <input id="usernameField" type="text" name="username">
                            </td>
                        </tr>
                        <tr>
                            <td class="loginFormLabel">
                                password
                            </td>
                            <td class="loginFormFields">
                                <input id="passwordField" type="password" name="password">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><input id="submitbutton" type="submit" value="Login"></td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2"><a href="/createProfile"><p>Or, create account</p></a></td>
                        </tr>
                    </table>
                </form>
            </div>
		</div>
	</body>
</html>
