@(pasteTO: PasteTO)
@header("Paste: " + pasteTO.pasteId)
	<body>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        @titlebar()
		<div id="mainContainer">
			<h1>@pasteTO.title</h1>
			<p>@pasteTO.content</p>
		</div>
	</body>
</html>
