@(paste: Paste)(implicit session: play.api.mvc.Session)
@if(paste != null) {
    @header("Paste: " + paste.pasteId)
} else {
    @header("Paste not found")
}
	<body>
        <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/main.css")'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href='@routes.Assets.at("lib/bootstrap-switch.min.css")'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src='@routes.Assets.at("lib/bootstrap-switch.min.js")'></script>
        @titlebar()(session)
		<div id="mainContainer">
            @if(paste != null) {
                <h1>@paste.title</h1>
                <input id="idNumber" type="hidden" value="@paste.pasteId" />
                <hr />
                <p>@Html(paste.content)</p>
                <br />
                <div class="make-switch">
                    <input id="publicPrivateSwitch" type="checkbox" data-on-text="public" data-off-text="private" name="isPublic" @if(!paste.isPrivate) { checked } />
                </div>
            } else {
                <h1>Paste not found</h1>
            }
		</div>
        <script src='@routes.Assets.at("javascripts/display_paste.js")'></script>
	</body>
</html>
